
.notification {
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;

  &.error {color: red}
  &.success {color: green}
}

.padding > * {
  margin-right: 10px;
}

.blog-list {
  padding: 10, 0, 0, 2;
  margin-bottom: 5;
}

.blog-item {
  border: 'solid';
  border-width: 1;
}